**
!dist/extension.js
!dist/webview.js
!dist/webview.css
!dist/export.js
!dist/export.css
!images/icon.png
!images/preview.svg
!package.nls.json
!package.nls.ja.json
!l10n/**
!README.md
!CHANGELOG.md
!LICENSE
!ThirdPartyNotices.txt
